*{
    margin: 5px;
    
}
div{
    width:1000px;
    height:auto;
    background:#f2f27b;
    padding:10px;
}
h1{
    background:#99eaea;
    padding:5px;
    color:blue;
}
th{
    color:blue;
    text-align:left;
}